.fl{
	float:left;		
}  
.fr{
	float: right;
}  
body{
    width: 100%;
    padding-top: 75px;
    /*height: 925px;*/
    background: url(../img/sbac1.png) 0 0 no-repeat;
    background-size: cover;
}
.scontent{
	width: 1200px;
	/*height: 751px;*/
	margin:0 auto ;
	background: url(../img/sbac2.png) 0 0 no-repeat;
    background-size: cover;
    z-index:-1;
}
.slogo{
    width: 130px;
    margin-top: -35px;
    margin-left: 56px;
}
.stitle{
	width: 320px;
    margin-left: 400px;
}
.sover{
    height: 180px;
}
.stime{
	margin: 40px 100px 0 30px;
    width: 50px;
}
.ko{
    margin: 20px 0 0 20px;
    width: 160px;
    position: relative;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */
}
#main1{
	width: 1200px;
    margin: 0px auto;
    /*margin-left: 45px;*/
}	




















